*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#page-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

/* COMMON */

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

#hero-section {
  width: 100%;
  height: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://di-uploads-pod14.dealerinspire.com/haselwoodvw/uploads/2020/12/VW-VUP-HERO-D.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#vup-logo {
  margin-left: 20px;
  margin-top: 50px;
}

#hero-buttons {
  width: 100vw;
  height: 300px;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #00a1e0;
  bottom: 0;
  margin-top: 50px;
  margin-bottom: 100px;
}

#header-section {
  width: 100%;
  height: 300px;
  background-color: #00a1e0;
}
#header-text {
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 425px;
  color: white;
  font-size: 72px;
  font-family: "Roboto", sans-serif;
}
#header-p1 {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 425px;
  color: white;
  font-size: 72px;
  font-family: "Roboto", sans-serif;
}
#text-section {
  margin-left: 425px;
}

.vup-p1 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #162c53;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.overlay {
  background-color: #162c53;
}

#benifits-section {
  margin-left: 425px;
}

.hero-button {
  width: 400px;
  height: 65px;
  color: #162c53;
  border-radius: 30px;
  border: none;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.vup-p2 {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
}

.benfiits-box {
  display: none;
}
.benfiits-p-m {
  display: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: none;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  display: flex;
  justify-content: center;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  color: #fff;
  z-index: 2;
}

@media only screen and (min-width: 1601px) and (max-width: 2200px) {
  #vup-logo {
    margin-left: 20px;
    margin-top: 0px;
  }
  img #hero-section {
    width: 100%;
    height: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://di-uploads-pod14.dealerinspire.com/haselwoodvw/uploads/2020/12/VW-VUP-HERO-D.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  #header-text {
    margin-left: 200px;
  }
  #header-p1 {
    margin-left: 200px;
  }
  .benfiits-p-m {
    display: none;
  }
  #benifits-section {
    margin-left: 200px;
  }
  #text-section {
    margin-left: 200px;
  }
}

@media only screen and (min-width: 1480px) and (max-width: 1600px) {
  #hero-section {
    max-width: 1440px;
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://di-uploads-pod14.dealerinspire.com/haselwoodvw/uploads/2020/12/Hero-D.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .benfiits-p-m {
    display: none;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1479px) {
  #hero-section {
    max-width: 1440px;
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://di-uploads-pod14.dealerinspire.com/haselwoodvw/uploads/2020/12/Hero-D.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  #vup-logo {
    width: 50%;
    height: 50%;
    margin-left: 0px;
    margin-top: 0px;
  }

  #text-section {
    margin-left: 170px;
  }

  #benifits-section {
    margin-left: 220px;
  }

  .hero-button {
    width: 300px;
    height: 50px;
    font-size: 18px;
  }
  #header-text {
    margin-left: 170px;
  }

  .vup-p2 {
    font-size: 20px;
  }

  #header-p1 {
    margin-left: 170px;
  }
  .benfiits-p {
    margin-left: -40px;
  }
  #icon-row-1 {
    margin-left: -100px;
  }
  #icon-row-2 {
    margin-left: -100px;
  }
  .icon-img {
    width: 200px;
  }

  .benfiits-p-m {
    display: none;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1159px) {
  #icon-row-1 {
    display: none;
  }
  #icon-row-2 {
    display: none;
  }
  #header-text {
    margin-left: 95px;
    font-size: 48px;
  }

  #header-p1 {
    margin-left: 95px;
    font-size: 48px;
  }

  #hero-section {
    width: 100vw;
    height: 800px;
    background-image: url(https://di-uploads-pod14.dealerinspire.com/haselwoodvw/uploads/2020/12/Hero-T.png);
  }
  #vup-logo {
    width: 45em;
    margin-left: 0;
    margin-top: 0;
  }

  #header-section {
    padding-bottom: 10px;
    height: auto;
  }

  #benifits-section {
    margin-left: 0px;
  }
  #text-section {
    margin-left: 0px;
  }
  .hero-button {
    width: 400px;
    height: 45px;
    color: #162c53;
    border-radius: 30px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }

  #hero-buttons {
    margin-left: 0px;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .benfiits-box {
    display: inline;
  }
  .benifits-button {
    width: 100vw;
    height: 40px;
    align-items: center;
    background-color: #00a1e0;
    border: none;
    color: white;
    font-size: 18px;
    padding-top: 5px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
  }
  .icon-img {
    width: 150px;
    height: 150px;
  }
  .vup-p1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 90px;
    font-size: 32px;
  }

  .vup-p2 {
    margin-left: 90px;
    max-width: 500px;
    font-size: 18px;
  }
  #header-section {
    margin-left: 0;
  }
  .benifits-p {
    margin-top: 20px;
    margin-left: 60px;
    justify-content: center;
    align-items: center;
  }
  .benifits-p2 {
    margin-top: 20px;
    margin-left: 200px;
  }

  .benfiits-p-m {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  #vup-logo {
    width: 80%;
    margin-left: 30px;
    margin-top: -5px;
  }

  #hero-section {
    height: 500px;
    background-image: url(https://di-uploads-pod14.dealerinspire.com/haselwoodvw/uploads/2020/12/Hero-M.png);
  }
  #hero-buttons {
    flex-direction: column;
  }

  #header-section {
    height: auto;
    position: relative;
    z-index: 1;
    margin-top: -100px;
  }

  .benifits-button {
    width: 100vw;
    height: 40px;
    align-items: center;
    background-color: #00a1e0;
    border: none;
    color: white;
    font-size: 18px;
    padding-top: 5px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
  }

  .hero-button {
    width: 220px;
    height: 40px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 20px;
    font-size: 12px;
  }
  #header-text {
    margin-left: 50px;
    font-size: 28px;
  }
  #header-p1 {
    margin-left: 50px;
    font-size: 28px;
  }

  .vup-p1 {
    margin-left: -80px;
    margin-bottom: 20px;
  }

  .vup-p2 {
    margin-left: -80px;
    max-width: 300px;
    font-size: 18px;
  }

  .benfiits-p-m {
    display: block;
    margin-left: 20px;
  }
  .benfiits-box {
    display: inline;
  }
  #benifits-section {
    display: none;
  }
  .icon-img {
    margin-top: 25px;
    width: 23%;
  }
}
