*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

/* COMMON */

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

#hero-section {
  width: 100%;
  height: 1220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(Hero-D.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#vup-logo {
  margin-left: 20px;
  margin-top: 50px;
}

#hero-buttons {
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  margin-bottom: 100px;
}

#header-section {
  width: 100%;
  height: 300px;
  background-color: #00a1e0;
}
#header-text {
  margin-bottom: 0;
  margin-left: 100px;
  color: white;
  font-size: 72px;
}
#header-p1 {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 100px;
  color: white;
  font-size: 72px;
}
#text-section {
  margin-left: 125px;
}

.vup-p1 {
  color: #162c53;
  font-size: 48px;
  text-transform: uppercase;
}

#benifits-section {
  margin-left: 125px;
}

.hero-button {
  width: 400px;
  height: 65px;
  color: #162c53;
  border-radius: 30px;
  font-size: 28px;
  font-family: "Questrial", sans-serif;
  font-weight: 500;
}
@media only screen and (max-width: 1480px) {
  #hero-section {
    width: 100%;
    height: 1220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(Hero-D.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  #text-section {
    margin-left: 100px;
  }

  #benifits-section {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 800px) {
  #icon-row-1 {
    display: none;
  }
  #icon-row-2 {
    display: none;
  }
}
